{% extends 'dashboard/sidebar_template.html' %}
{% include 'dashboard/sidebar_template.html' %}
{% block mainbody %}
<form action="POST">
    <div class="row"> <!-- ROW START  -->
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header align-items-center d-flex">
                <h4 class="card-title mb-0 flex-grow-1">Account Information</h4>
        </div> 
        
            <div class="card-body"> <!-- CARD BODY START -->
                    
                    <div class="row gy-4"> <!-- SUB ROW START  -->
                            <div class="col-xxl-3 col-md-6">
                                <div>
                                    <label for="iconInput" class="form-label">Email Address</label>
                                        <div class="form-icon">
                                                <input type="email" class="form-control form-control-icon" id="iconInput" placeholder="example@gmail.com">
                                                <i class="ri-mail-unread-line"></i>
                                        </div>
                                </div>
                            </div>
                        


                        <div class="col-xxl-3 col-md-6">
                            <div>
                                <label for="valueInput" class="form-label">Password</label>
                                <input type="text" class="form-control" id="valueInput" value="Input value">
                            </div>
                        </div>

                        <div class="col-xxl-3 col-md-6">
                            <label for="valueInput" class="form-label">TL Count</label><br>
                                <div class="input-step step-warning">
                                    <button type="button" class="minus">-</button>
                                    <input type="number" class="product-quantity" value="4" min="0" max="100" id="tl_count" readonly>
                                    <button type="button" class="plus">+</button>
                                </div>
                        </div>
                    </div><!-- SUB ROW END  -->
                    <br> <br>
                    <div class="row gy-4"> <!-- SUB ROW START  -->
                            <div class="col-xxl-3 col-md-6">
                                <label class="form-label mb-0">Account Start Date <br></label>
                    
                                        <input type="text" class="form-control" data-provider="flatpickr"
                                            data-date-format="d M, Y" data-deafult-date="25 01,2021"
                                            data-inline-date="true">
                            </div>
                            <div class="col-xxl-3 col-md-6">
                                <label class="form-label mb-0">Account Start Date <br></label>
                    
                                        <input type="text" class="form-control" data-provider="flatpickr"
                                            data-date-format="d M, Y" data-deafult-date="25 01,2021"
                                            data-inline-date="true">
                            </div><br>


                    </div><!-- SUB ROW END  -->
                <br>
                <div class="col-lg-12">
                    <div class="text-end">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </div><!--end col-->
            </div> <!-- CARD BODY END -->
        </div> <!-- ROW END  -->
</form>

{% endblock mainbody %}

