{% extends 'dashboard/sidebar_template.html' %}
{% load static %}
{% block maincontent %}

{% if success %}
<!-- Success Alert -->
<div class="alert alert-success alert-dismissible alert-additional fade show" role="alert">
    <div class="alert-body">
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        <div class="d-flex">
            <div class="flex-shrink-0 me-3">
                <i class="ri-notification-off-line fs-16 align-middle"></i>
            </div>
            <div class="flex-grow-1">
                <h5 class="alert-heading">Yey! Everything worked!</h5>
                <p class="mb-0">This alert needs your attention, but it's not super important. </p>
            </div>
        </div>
    </div>
    <div class="alert-content">
        <p class="mb-0">Whenever you need to, be sure to use margin utilities to keep things nice and tidy.</p>
    </div>
</div>
{% endif %}


{% if errors %}
<!-- Warning Alert -->
<div class="alert alert-danger alert-dismissible alert-label-icon label-arrow fade show" role="alert">
    <i class="ri-alert-line label-icon"></i><strong>Failed to add Info</strong>
    {% for title,msg in errors.items %}
    
    <div class="alert alert-danger alert-dismissible alert-outline fade show" role="alert">
        <strong> {{title}}</strong> - {{msg.0}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
    
    <button type="button" class="btn-close" data-bs-dismiss=" alert" aria-label="Close"></button>
</div>
{% endif %}
<form action="" method="POST">
    {% csrf_token %}
    <div class="row"> <!-- ROW START  -->
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header align-items-center d-flex">
                <h4 class="card-title mb-0 flex-grow-1">Profile Information</h4>
        </div> 
            <div class="card-body"> <!-- CARD BODY START -->
                    
                    <div class="row gy-4"> <!-- SUB ROW START  -->
                            <div class="col-xxl-3 col-md-6">
                                <div>
                                    <label for="email" class="form-label">Mother Email Address</label>
                                    {{form.email}}
                                </div>
                            </div>

                        <div class="col-xxl-3 col-md-6">
                            <div>
                                <label for="profile_name" class="form-label">Profile Name</label>
                                <input type="text" class="form-control" id="profile_name" name="profile_name"value="Profile N">
                            </div>
                        </div>
                        <div class="col-xxl-3 col-md-6">
                            <div>
                                <label for="profile_password" class="form-label">PIN</label>
                                <input type="text" class="form-control" id="profile_password" name="profile_password"value="0000">
                            </div>
                        </div>

                        <div class="col-xxl-3 col-md-6">
                            <label for="profile_bought_for" class="form-label">Bought For</label><br>
                            <select class="form-select mb3" aria-label=".form-select-lg example" name="profile_bought_for">
                                <option value="30">30 Days</option>
                                <option value="38">38 Days</option>
                            </select>
                        </div>
                        <div class="col-xxl-3 col-md-6">
                            <label for="profile_type" class="form-label">Profile Type</label><br>
                            <select class="form-select mb3" aria-label=".form-select-lg example" name ="profile_type">
                                <option value="NonVPN">Non VPN</option>
                                <option value="VPN">VPN</option>
                            </select>
                        </div>
                        <div class="col-xxl-3 col-md-6">
                            <div class="col-xxl-3 col-md-6">
                                <label for="owner" class="form-label">Owner</label><br>
                                {{form.owner}}
                            </div>
                        </div>
                    </div><!-- SUB ROW END  -->
                    <br> <br>
                    <div class="row gy-4"> <!-- SUB ROW START  -->
                            <div class="col-xxl-3 col-md-6">
                                <label for="account_started" class="form-label mb-0">Account Start Date <br></label>
                    
                                        <input type="text" class="form-control" data-provider="flatpickr"
                                            data-date-format="Y-m-d" data-deafult-date="today" 
                                            data-inline-date="true" name="account_started">
                            </div>
                            <div class="col-xxl-3 col-md-6">
                                <label for="account_ended" class="form-label mb-0">Account End Date <br></label>
                    
                                        <input type="text" class="form-control" data-provider="flatpickr"
                                            data-date-format="Y-m-d" data-deafult-date="today" 
                                            data-inline-date="true" name="account_ended">
                            </div><br>


                        </div><!-- SUB ROW END  -->
                        <br>
                        <button type="submit" class="btn btn-primary" id="sa-successs">Submit</button>  
                        {% comment %} <button type="button" class="btn btn-primary btn-sm" id="sa-success">Click me</button> {% endcomment %}
    
            </div> <!-- CARD BODY END -->
        </div> <!-- ROW END  -->
</form> 
{% endblock maincontent %}

