{% extends 'dashboard/sidebar_template.html' %}
{% load static %}

{% block maincontent %}
{% if errors %}
<!-- Warning Alert -->
<div class="alert alert-danger alert-dismissible alert-label-icon label-arrow fade show" role="alert">
    <i class="ri-alert-line label-icon"></i><strong>Failed to add Info</strong>
    {% for title,msg in errors.items %}
    
    <div class="alert alert-danger alert-dismissible alert-outline fade show" role="alert">
        <strong> {{title}}</strong> - {{msg.0}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
    
    <button type="button" class="btn-close" data-bs-dismiss=" alert" aria-label="Close"></button>
</div>
{% endif %}
{% comment %} 
<form action="" method="POST">
    {% csrf_token %}
    <label for="your_name">Your name: </label>
    <input id="your_name" type="text" name="your_name">
    
    <div class="col-xxl-3 col-md-6">
        <div>
            <label for="iconInput" class="form-label">Email Address</label>
                <div class="form-icon">
                        <input type="email" class="form-control form-control-icon" id="iconInput" name="iconInput" placeholder="example@gmail.com">
                        <i class="ri-mail-unread-line"></i>
                </div>
        </div>
    </div>
    
    <input type="submit" value="OK">
</form> {% endcomment %}



<form action="" method="POST">
    {% csrf_token %}
    <div class="row"> <!-- ROW START  -->
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header align-items-center d-flex">
                <h4 class="card-title mb-0 flex-grow-1">Account Information</h4>
        </div> 
            <div class="card-body"> <!-- CARD BODY START -->
                    
                    <div class="row gy-4"> <!-- SUB ROW START  -->
                            <div class="col-xxl-3 col-md-6">
                                <div>
                                    <label for="account_email" class="form-label">Email Address</label>
                                        <div class="form-icon">
                                                <input type="account_email" class="form-control form-control-icon" id="account_email" name="account_email" placeholder="example@gmail.com">
                                                <i class="ri-mail-unread-line"></i>
                                        </div>
                                </div>
                            </div>

                        <div class="col-xxl-3 col-md-6">
                            <div>
                                <label for="account_password" class="form-label">Password</label>
                                <input type="text" class="form-control" id="account_password" name="account_password"value="Input value">
                            </div>
                        </div>

                        <div class="col-xxl-3 col-md-6">
                            <label for="account_tl_count" class="form-label">TL Count</label><br>
                                <div class="input-step step-warning">
                                    <button type="button" class="minus">-</button>
                                    <input type="number" class="product-quantity" value="4" min="0" max="100" id="account_tl_count" name="account_tl_count" readonly>
                                    <button type="button" class="plus">+</button>
                                </div>
                        </div>
                    </div><!-- SUB ROW END  -->
                    <br> <br>
                    <div class="row gy-4"> <!-- SUB ROW START  -->
                            <div class="col-xxl-3 col-md-6">
                                <label for="account_started" class="form-label mb-0">Account Start Date <br></label>
                    
                                        <input type="text" class="form-control" data-provider="flatpickr"
                                            data-date-format="Y-m-d" data-deafult-date="25 01,2021"
                                            data-inline-date="true" name="account_started">
                            </div>
                            <div class="col-xxl-3 col-md-6">
                                <label for="account_ended" class="form-label mb-0">Account End Date <br></label>
                    
                                        <input type="text" class="form-control" data-provider="flatpickr"
                                            data-date-format="Y-m-d" data-deafult-date="25 01,2021"
                                            data-inline-date="true" name="account_ended">
                            </div><br>


                        </div><!-- SUB ROW END  -->
                        <br>
                        <button type="submit" class="btn btn-primary" id="sa-successs">Submit</button>  
                        {% comment %} <button type="button" class="btn btn-primary btn-sm" id="sa-success">Click me</button> {% endcomment %}
    
            </div> <!-- CARD BODY END -->
        </div> <!-- ROW END  -->
</form> 
<script type="text/javascript">document.getElementById("sa-success").addEventListener("click",function(){Swal.fire({title:"Good job!",text:"You clicked the button!",icon:"success",showCancelButton:!0,confirmButtonClass:"btn btn-primary w-xs me-2 mt-2",cancelButtonClass:"btn btn-danger w-xs mt-2",buttonsStyling:!1,showCloseButton:!0})})</script>
{% endblock maincontent %}